@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox {
    -webkit-appearance: none;
}

.borders > :not(:first-child) {
    border-top: rgba(235, 235, 235, 0.746) solid 3.4px;
    padding-top: 1rem;
}

.bg-gradient-animate {
    background-size: 200% 100%;
    background-position: 0% 0%;
    transition: all 0.5s;

    background-image: linear-gradient(to right, #bb95c5, #7dc3cb, #bb95c5 70%);

    background-repeat: no-repeat;
}

.bg-gradient-animate:hover {
    background-position: 70% 0%;
}

.header {
    background-size: 100% 100%;
    background-position: 100% 100%;
}
